<div style="border: 1px solid; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="text-center mb-3" *ngIf="calificacionEsEditable; else notEditable">
        <p style="margin-top: 10px; font-size: 24px; font-family: roboto; margin-bottom: 0px;">Calificar: {{carrera.nombre}}</p>
        <app-puntuacion [esEditable]="true" [idUsuario]="idUsuarioCalificacion" [idCalificacion]="idCalificacionEditar"
            (calificacionGuardada)="handleCalificacionGuardada($event)"></app-puntuacion>
    </div>
    <ng-template #notEditable>
        <p style="margin-top: 10px; font-size: 24px; font-family: roboto; margin-bottom: 0px;">Calificar:</p>
        <app-puntuacion (calificacionGuardada)="handleCalificacionGuardada($event)"></app-puntuacion>
    </ng-template>
    <app-promedio-calificacion [listaCalificacion]="carrera.listaCalificacion!"></app-promedio-calificacion>
</div>

<app-comentario *ngIf="actualizarComentarios" [carrera]="carrera"></app-comentario>

<div>
    <div class="agregarComentario container">
        <div class="cabecera mb-3">
            <h2>Deja un comentario</h2>
            <p>Conectado como: <span style="color: rgb(34, 56, 255);"> {{usuarioActual?.username}}</span></p>
        </div>

        <div class="mb-3">
            <textarea id="texto_area" name="comentario" rows="5" class="form-control" [(ngModel)]="nuevoComentario"
                placeholder="Escribe aquí..."></textarea>
        </div>

        <button class="btn btn-primary" [disabled]="nuevoComentario.trim() === ''"
            (click)="crearNuevoComentario(nuevoComentario)">Enviar
            comentario</button>
    </div>
</div>
<!-- <input type="submit" (click)="editCarrera(1, 'unam 23')"> probar -->