

.agregarComentario{
    margin-bottom: 50px;
}

.mostrarRespuesta{
    background-color: #fff;
    border: none;

}

.botonResponder{
    background-color: #fff;
    border: none;
    color: rgb(70, 70, 255);
    font-weight: bold;
}

.botonEliminar{
    background-color: #fff;
    border: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.likeDislike{
    display: flex;
}

.likeDislike  svg{
    font-size: 220px;
}

.likeDislike svg:first-child{
    margin-right: 10px;
}

.botonLike{
    border: none;
    background-color: white;
}

.comentario-eliminado {
    font-weight: 400; /* Un peso de fuente intermedio */
    color: #555; /* Un gris suave */
    font-style: italic; /* Cursiva para dar énfasis */
    border-bottom: 1px solid #ccc; /* Una línea sutil */
    padding-bottom: 4px; /* Espaciado debajo del texto */
}
