<div *ngFor="let notificacion of notificaciones">
  <p>{{ notificacion.informacion }}</p>
  <a style="color: blue; cursor: pointer;" (click)="irADetalleNotificacion(notificacion)">
    Ver detalles
  </a>
    <div *ngFor="let usuario of notificacion.listaUsuarios">
      <button *ngIf="usuario.id === idUsuario"
              (click)="editNotificacion(2, 'juan')"
              class="btn btn-primary">
        Eliminar
      </button>
    </div>
  </div>

  <div *ngIf="mensajeError">
    <app-errores [mensajeError]="mensajeError"></app-errores>
  </div>

  <button (click)="visualizarNotificacionesByUserID()">marcar las notificaciones como vistas</button>
  